<a href="https://colab.research.google.com/github/OneAirbendyBoi/Unit-1/blob/main/4%20Questions_Moore.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Write a program that calculates sum of all integers 0 to 2021

In [ ]:
start_num = 0
end_num = 2021

n = end_num - start_num
#calculate the addition
result = n*(n+1)/2
print("the addition of integers from" ,start_num, "to" ,end_num, "is" ,result)

the addition of integers from 0 to 2021 is 2043231.0

Arithmetic sequence = $$ sum = 1/2*n(n+1) $$

2) Write a program that calculates value of y in y=2(x+3)-3

In [ ]:

x = int(input("Enter any number"))
y = 2*( x + 3 ) - 3
print("y =",y,)

Enter any number10
y = 23

3) Write a program that asks for a user's name and grade and outputs their email

In [ ]:
#ask for name
first_name = (input("Enter first name here"))
last_name = (input("Enter last name here"))
#ask for grade
grade = int(input("Enter grade here (10,11,12)"))
#determine year of graduation
year = 2034 - grade 
#give email
print("your email is:" ,year,".",first_name,".",last_name,"@uwcisak.jp")

Enter first name herecolin
Enter last name heremoore
Enter grade here (10,11,12)11
your email is: 2023 . colin . moore @uwcisak.jp

4)Write a program that converts temperature from fahrenheit to celsius

In [ ]:
#ask for temp in F
Fahrenheit = int(input("enter degrees in fahrenheit here"))
#fahrenheit to celsius conversion
Celsius = 5*(Fahrenheit - 32)/9
#Output
print(Fahrenheit,'degrees fahrenheit is equal to' ,Celsius, "degrees celsius")

enter degrees in fahrenheit here100
100 degrees fahrenheit is equal to 37.77777777777778 degrees celsius

5) Miles to Kilometers

$$Miles = 1.609 * kilometers$$

In [ ]:
#ask for amount of miles
Miles = int(input("enter miles here"))
#miles to kilometers conversion
Kilometers = 1.609 * Miles
#Output
print(f"{Miles} miles are equal to {Kilometers} kilometers")

7) Write a program that reverses a number input by the user (eg. 123, 321)

In [2]:
#ask for number
number = int(input("enter number here"))
str_number = str(number) #convert to string
#reverse numbers [start:end:step]
print(str_number[-1:0:-1])

enter number here876
67

6) write a program for the quadratic formula
$$quadratic formula = x = (-b +/- sqrt(b^2 - 4*a*c))/2*a$$

In [1]:
#ask for number
a = int(input("enter a here"))
b = int(input("enter b here"))
c = int(input("enter c here"))
#quadratic formula
x = (-b + ((b**2)  - (4 * a * c))**1/2) / (2 * a)
x2 = (-b - ((b**2)  - (4 * a * c))**1/2) / (2 * a)
print(f"x = {x} , {x2}")

enter a here1
enter b here4
enter c here4
x = -2.0

8) write a program that asks for name, age, and place of residence, and spites back out a greeting

In [1]:
#ask name, age, place
name = input("enter name here")
age = int(input("enter age here"))
residence = input("enter place of residence here")
#spit out greeting
print(f"Nice to meet you {name}! You are {age} years old from {residence}")

enter name hereColin Moore
enter age here16
enter place of residence hereUnited States
Nice to meet you Colin Moore! You are 16 years old from United States

9) Write a program that converts gallons to liters

In [1]:
#ask for gallons
gal = int(input("enter gallons here"))
#conversion
liters = 3.78541 * gal
#output
print(f"{gal} gallons = {liters} liters")

enter gallons here20
20 gallons = 75.7082 liters