<a href="https://colab.research.google.com/github/OneAirbendyBoi/Unit-1/blob/main/if_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Given two smaller numbers, print smaller value

In [25]:
x = int(input("insert number here"))
y = int(input("insert second number here"))
if x > y: 
  print (y)
else:
  if x == y:
    print("=")
  else: print(x)

insert number here6
insert second number here5
5

Sign Function

In [28]:
num = int(input("insert integer here"))
if num > 0:
  print("1")
else:
  if num == 0:
    print("0")
  else: print("-1")

insert integer here-10000000
-1

Given 3 numbers find smallest value

In [35]:
x = int(input("insert number here"))
y = int(input("insert second number here"))
z = int(input("insert third number here"))
if x > y:
  if y > z:
    print(z)
  else: print(y)
else:
  if x == y:
    if x == z:
      print("=")
    else:
      if x > z:
        print(z)
      else: print(x)
  else:
    if x > z:
      print(z)
    else: print(x)

insert number here5
insert second number here4
insert third number here3
3

3 Equal Numbers

In [42]:
x = int(input("insert number here"))
y = int(input("insert second number here"))
z = int(input("insert third number here"))
if x == y:
  if x == z:
    print("3")
  else: print("2")
else:
  if y == z:
    print("2")
  else:
    if x == z:
      print("2")
    else: print("0")

insert number here4
insert second number here6
insert third number here4
2

Rook Move

$$RULES$$

(1) y1 == y2, x1 != x2
(2) x1 == x2, y1 != y2

In [49]:
x1 = int(input("insert x1 here"))
y1 = int(input("insert y1 here"))
x2 = int(input("insert x2 here"))
y2 = int(input("insert y2 here"))
if x1 == x2:
  if y1 == y2:
    print("NO")
  else: print("YES")
else:
  if y1 == y2:
    print("YES")
  else: print("NO")

insert y1 here3
insert x1 here1
insert y1 here3
insert x1 here4
yes

Chess Board Same Color

In [55]:
x1 = int(input("insert x1 here"))
y1 = int(input("insert y1 here"))
x2 = int(input("insert x2 here"))
y2 = int(input("insert y2 here"))
if (x1 + y1) % 2 == 0:
  if (x2 + y2) % 2 == 0:
    print("YES")
  else: print("NO")
else:
  if (x2 + y2) % 2 == 0:
    print("NO")
  else: print("YES")

insert y1 here2
insert x1 here2
insert y1 here2
insert x1 here5
no

King

In [60]:
x1 = int(input("insert x1 here"))
y1 = int(input("insert y1 here"))
x2 = int(input("insert x2 here"))
y2 = int(input("insert y2 here"))
if abs(x1 - x2) == 1:
  if abs(y1 - y2) == 1:
    print("YES")
  else:
    if abs(y1 - y2) == 0:
      print("YES")
    else: print("NO")
else:
  if abs(x1 - x2) == 0:
    if abs(y1 - y2) == 1:
      print("YES")
    else: print("NO")
  else: print("NO")

insert y1 here4
insert x1 here4
insert y1 here5
insert x1 here4
yes

Bishop

In [ ]:
x1 = int(input("insert x1 here"))
y1 = int(input("insert y1 here"))
x2 = int(input("insert x2 here"))
y2 = int(input("insert y2 here"))
if abs(x1 - x2) == 1:
  if abs(y1 - y2) == 1:
    print("YES")
  else: print("NO")
else: 
  if abs(y1 - y2) == 1:
    print("NO")
  else: 
    if abs(x1 - y1) % 2 == 0:
      if abs(x2 - y2) % 2 == 0:
        print("YES")
      else: print("NO")
    else: 
      if abs(x1 - y2) % 2== 0:
        if abs(x2 - y1) % 2 == 0:
          print("YES")
        else: print("NO")
      else: print("NO")

Queen

In [ ]:
x1 = int(input())
y1 = int(input())
x2 = int(input())
y2 = int(input())
if abs(x1 - x2) == abs(y1 - y2) or x1 == x2 or y1 == y2:
    print('YES')
else:
    print('NO')

Knight

$$RULES$$
1)Vert_diff = 2
hor_diff = 1

2) vert_diff = 1
hor_diff = 2

vert diff = abs(y1 - y2)
hor diff = abs(x1 - x2)

In [18]:
y1 = int(input("insert y1 here"))
x1 = int(input("insert x1 here"))
y2 = int(input("insert y1 here"))
x2 = int(input("insert x1 here"))
vert_dif = abs(y1 - y2)
hor_dif = abs(x1 - x2)
if vert_dif == 2 and hor_dif == 1 or hor_dif == 2 and vert_dif == 1:
  print ("yes")
else : print("no")

insert y1 here4
insert x1 here1
insert y1 here2
insert x1 here2
yes

Chocolate Bar

In [ ]:
n = int(input())
m = int(input())
k = int(input())

if (k % n == 0 and k / n < m) or (k % m == 0 and k / m < n):
    print('YES')
else:
    print('NO')

Leap Year

In [ ]:
x = int(input("insert year here"))
if x % 4 == 0:
  if x % 100 == 0:
    if x % 400 == 0:
      print("YES")
    else: print("NO")
  else: print("YES")
else: print("NO")